body,
html {
  height: 100%;
  background-color: #a6bcc5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headrowCont{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
}

h1 {
  font-size: 5rem;
}

.middlecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart-button {
  bottom: 0;
  margin: 10px;
}

.timer {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.time {
  font-size: 75px;
}

.buttons {
  /* margin-top: 10px; */
  /* display: flex; */
}

.button-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.buttons button {
  margin-right: 10px;
}
