body,
html {
  height: 100%;
  background-color: #dff0d8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headrowCont {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 12px;
  right: 22px;
}

h1 {
  font-size: 4rem;
  margin: 5px;
}

.middlecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a8c097;
  padding: 25px 100px;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 500px;
}

.progress {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #9e9e9e;
}

.circle.activeBreak {
  background-image: conic-gradient(#ffffff 0deg 50%, #ffffff 50% 100%);
}

.circle.activeFlow {
  background-image: conic-gradient(#9e9e9e 0deg 50%, #ffffff 50% 100%);
}

.header-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
}

.time {
  font-size: 75px;
}

.button-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.buttons button {
  margin-right: 10px;
}
