body,
html {
  height: 100%;
  background-color: #a6bcc5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
  /* margin-top: 0px; */
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  position: relative;
}

.restart-button {
  position: absolute;
  /* Position the restart button absolutely */
  top: 0;
  /* Place it at the top */
  right: 0;
  /* Place it at the right */
  margin: 10px;
  /* Adjust margin as needed */
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 24px; */
}

.time {
  display: flex;
  font-size: 75px;
}

.buttons {
  margin-top: 10px;
  display: flex;
}

.button-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
  /* Change cursor to pointer when hovering over the image */
  /* Add any other styling you want for your image button */
}

/* Optional: Add styling for button text if needed */
.buttons button {
  margin-right: 10px;
}

/* .buttons { */
/*   margin-top: 10px; */
/*   display: flex; */
/* } */
/* .buttons button { */
/*   margin-right: 15px; /* Adjust this value as needed */
/* } */
